/* common styles */

body{
  font-family: 'Poppins', sans-serif;
  background-color: #9F9F9F;
}
main{
  display: flex;
  justify-content: center;
}
.container{
  background-color: #FFFFFF;
  width: 870px;
padding: 30px;
}
/* top player style */
.top-players{
  margin-bottom: 30px;
}
.section-title{
  color: #562EFF;
  font-size: 24px;
  margin-top: 3px;
}
.player-title{
  margin-left: 16px;
}
.players{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-row-gap: 30px;
}
.player{
  display: flex;
}
.player img{
  width: 56px;
  height: 56px;
}

hr{
  border: 1px solid #D1D1D1;

}

/* top  blog style */
.blog .thumb img{
  width: 177px;
height: 117px;

}
.blog{
  display: flex;
}
.blog-title{
  width: 163px;
height: 68px;
font-weight: 500;
font-size: 20px;
}
